.nt-widget {
  --body-height: calc(100vh - 5rem);
  --light-bar: hsl(0, 0%, 39%);

  .nt-indent-block {
    transition: opacity 0.15s;
    opacity: 0;
  }
}

.dark .nt-widget {
  --light-bar: hsl(0, 0%, 75%);
}

.nt-widget:hover .nt-indent-block {
  opacity: 1;
}